version: '3.3'
services:
  tagd-dash-api:
    &tagd-dash-api
    volumes:
      - '../../../packages/core:/packages/core'
  tagd-dash-api-queue:
    &tagd-dash-api
    volumes:
      - '../../../packages/core:/packages/core'
